<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="renderer" content="webkit" />
    <title>翌晨项目预警PC</title>
    <link href="style/index.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="script/jquery-1.7.1.min.js"></script>
</head>

<body>

<div id="app">
    <div class="g-head">
        <div class="logo">
            <a href="" class="logo"><img src="image/logo152.png" alt=""></a>
            <div class="name">项目预警管理系统</div>
        </div>
        <div class="info">
            <div class="ico"><img src="image/img46.png" alt=""></div>
            <div class="name">
                <h3>赵大帅</h3>
                <p>北京 - 信息科技部</p>
            </div>
            <div class="layer">
                <dl>
                    <dd><a href="">退出</a></dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="g-side">
        <div class="nav">
            <ul>
                <li>
                    <a href="">
                        <div class="ico"><img src="image/img22_1.png" alt=""><img src="image/img22_1on.png" alt=""></div>
                        <div class="ico2"><img src="image/img42_1.png" alt=""></div>
                        <em>首页</em>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="ico"><img src="image/img22_2.png" alt=""><img src="image/img22_2on.png" alt=""></div>
                        <div class="ico2"><img src="image/img42_2.png" alt=""></div>
                        <em>项目列表</em>
                    </a>
                </li>
                <li>
                    <a href="" class="on">
                        <div class="ico"><img src="image/img22_3.png" alt=""><img src="image/img22_3on.png" alt=""></div>
                        <div class="ico2"><img src="image/img42_1.png" alt=""></div>
                        <em>企业列表</em>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="ico"><img src="image/img22_4.png" alt=""><img src="image/img22_4on.png" alt=""></div>
                        <div class="ico2"><img src="image/img42_1.png" alt=""></div>
                        <em>财报列表</em>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="ico"><img src="image/img22_10.png" alt=""><img src="image/img22_10on.png" alt=""></div>
                        <div class="ico2"><img src="image/img42_1.png" alt=""></div>
                        <em>阈值设置</em>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="ico"><img src="image/img22_12.png" alt=""><img src="image/img22_12on.png" alt=""></div>
                        <div class="ico2"><img src="image/img42_1.png" alt=""></div>
                        <em>用户管理</em>
                    </a>
                </li>
            </ul>
        </div>
        <a href="" class="btn"></a>
    </div>

    <div class="g-container">
        <!--g-container-->
        <div class="p-box">
            <div class="p-title">
                <h2>企业列表</h2>
                <div class="col formCol">
                    <div class="select"><span>预警等级</span>
                        <div class="select-layer">
                            <dl>
                                <dd>选项一</dd>
                                <dd>选项二</dd>
                                <dd>选项三</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="select"><span>预警类型</span>
                        <div class="select-layer">
                            <dl>
                                <dd>选项一</dd>
                                <dd>选项二</dd>
                                <dd>选项三</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="select"><span>预警来源</span>
                        <div class="select-layer">
                            <dl>
                                <dd>选项一</dd>
                                <dd>选项二</dd>
                                <dd>选项三</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="form">
                        <div class="input"><input type="text" placeholder=""></div>
                        <div class="submit"><input type="button" value=""><em>搜索</em></div>
                    </div>
                </div>
            </div>
            <div class="yujingList enterprise">
                <div class="title">
                    <div class="col col-code">序号</div>
                    <div class="col col-name">企业名称</div>
                    <div class="col col-time">预警时间</div>
                    <div class="col col-source">来源</div>
                    <div class="col col-type">类型</div>
                    <div class="col col-grade">等级</div>
                    <div class="col col-btn">操作</div>
                </div>
                <ul>
                    <template v-for="(item, index) in enterprise">
                        <li>
                            <div class="col col-code">{{index+1 < 10? '0'+(index+1) : index+1}}</div>
                            <div class="col col-name">{{item.name}}</div>
                            <div class="col col-time">{{item.time}}</div>
                            <div class="col col-source">{{item.source}}</div>
                            <div class="col col-type">{{item.type}}</div>
                            <div class="col col-grade" :class="item.grade.color">{{item.grade.text}}</div>
                            <div class="col col-btn">
                                <a href="javascript:;" v-if="item.listShow" @click="item.listShow = false">收起</a>
                                <a href="javascript:;" v-else @click="item.listShow = true">展开</a>
                            </div>
                        </li>
                        <template v-if="item.listShow">
                            <li v-for="_item in item.list" class="li_01">
                                <div class="col col-name">
                                    <div>{{_item.name}}</div>
                                    <em :class="_item.tag.color">{{_item.tag.text}}</em>
                                </div>
                                <div class="col col-btn"><a href="">查看</a></div>
                            </li>
                        </template>
                    </template>
                </ul>
            </div>
            <div class="p-num">
                <a href="" class="arrow prev"></a>
                <a href="">1</a>
                <a href="" class="on">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <em></em>
                <a href="">20</a>
                <a href="" class="arrow next"></a>
            </div>
        </div>
        <!--g-container-end-->
    </div>
</div>
<script type="text/javascript" src="script/js.js"></script>
<script type="text/javascript" src="script/echarts.min.js"></script>
<script type="text/javascript" src="script/charts.js"></script>

<script src="script/vue/vue.js"></script>
<script src="script/vue/vue-resource.min.js"></script>
<script>
    new Vue({
        //delimiters: ['[[', ']]'],
        el: '#app',
        data:{
            //企业列表
            enterprise:[
                {code:'ZHON7M', name:'乐视网信息技术股份有限公司', time:'2019/10/10', source:'AM', type:'逾期', grade:{text:'红色', color:'red'},
                    listShow: false,
                    list:[
                        {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', tag:{text:'合同交易对手', color:'red'}},
                        {name:'翌晨【2019】339号流动资金贷款集合资金', tag:{text:'实质交易对手', color:'blue'}},
                        {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', tag:{text:'抵制压公司', color:'orange'}}
                    ]
                },
                {code:'ZHON7M', name:'信达地产股份有限公司', time:'2019/10/10', source:'AM', type:'逾期', grade:{text:'橙色', color:'orange'},
                    listShow: false,
                    list:[
                        {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', tag:{text:'合同交易对手', color:'red'}},
                        {name:'翌晨【2019】339号流动资金贷款集合资金', tag:{text:'实质交易对手', color:'blue'}},
                        {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', tag:{text:'抵制压公司', color:'orange'}}
                    ]
                },
                {code:'ZHON7M', name:'乐视网信息技术股份有限公司', time:'2019/10/10', source:'AM', type:'逾期', grade:{text:'黄色', color:'yellow'},
                    listShow: false,
                    list:[
                        {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', tag:{text:'合同交易对手', color:'red'}},
                        {name:'翌晨【2019】339号流动资金贷款集合资金', tag:{text:'实质交易对手', color:'blue'}},
                        {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', tag:{text:'抵制压公司', color:'orange'}}
                    ]
                },
                {code:'ZHON7M', name:'乐视网信息技术股份有限公司', time:'2019/10/10', source:'AM', type:'逾期', grade:{text:'红色', color:'red'},
                    listShow: false,
                    list:[
                        {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', tag:{text:'合同交易对手', color:'red'}},
                        {name:'翌晨【2019】339号流动资金贷款集合资金', tag:{text:'实质交易对手', color:'blue'}},
                        {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', tag:{text:'抵制压公司', color:'orange'}}
                    ]
                },
                {code:'ZHON7M', name:'信达地产股份有限公司', time:'2019/10/10', source:'AM', type:'逾期', grade:{text:'橙色', color:'orange'},
                    listShow: false,
                    list:[
                        {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', tag:{text:'合同交易对手', color:'red'}},
                        {name:'翌晨【2019】339号流动资金贷款集合资金', tag:{text:'实质交易对手', color:'blue'}},
                        {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', tag:{text:'抵制压公司', color:'orange'}}
                    ]
                },
                {code:'ZHON7M', name:'乐视网信息技术股份有限公司', time:'2019/10/10', source:'AM', type:'逾期', grade:{text:'黄色', color:'yellow'},
                    listShow: false,
                    list:[
                        {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', tag:{text:'合同交易对手', color:'red'}},
                        {name:'翌晨【2019】339号流动资金贷款集合资金', tag:{text:'实质交易对手', color:'blue'}},
                        {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', tag:{text:'抵制压公司', color:'orange'}}
                    ]
                },
                {code:'ZHON7M', name:'乐视网信息技术股份有限公司', time:'2019/10/10', source:'AM', type:'逾期', grade:{text:'红色', color:'red'},
                    listShow: false,
                    list:[
                        {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', tag:{text:'合同交易对手', color:'red'}},
                        {name:'翌晨【2019】339号流动资金贷款集合资金', tag:{text:'实质交易对手', color:'blue'}},
                        {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', tag:{text:'抵制压公司', color:'orange'}}
                    ]
                },
                {code:'ZHON7M', name:'信达地产股份有限公司', time:'2019/10/10', source:'AM', type:'逾期', grade:{text:'橙色', color:'orange'},
                    listShow: false,
                    list:[
                        {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', tag:{text:'合同交易对手', color:'red'}},
                        {name:'翌晨【2019】339号流动资金贷款集合资金', tag:{text:'实质交易对手', color:'blue'}},
                        {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', tag:{text:'抵制压公司', color:'orange'}}
                    ]
                },
                {code:'ZHON7M', name:'乐视网信息技术股份有限公司', time:'2019/10/10', source:'AM', type:'逾期', grade:{text:'黄色', color:'yellow'},
                    listShow: false,
                    list:[
                        {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', tag:{text:'合同交易对手', color:'red'}},
                        {name:'翌晨【2019】339号流动资金贷款集合资金', tag:{text:'实质交易对手', color:'blue'}},
                        {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', tag:{text:'抵制压公司', color:'orange'}}
                    ]
                }
            ]
        },
        mounted:function () {
            },
        methods:{}
    })
</script>

</body>
</html>