<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="renderer" content="webkit" />
    <title>翌晨项目预警PC</title>
    <link href="style/index.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="script/jquery-1.7.1.min.js"></script>
</head>

<body>

<div id="app">
    <div class="g-head">
        <div class="logo">
            <a href="" class="logo"><img src="image/logo152.png" alt=""></a>
            <div class="name">项目预警管理系统</div>
        </div>
        <div class="info">
            <div class="ico"><img src="image/img46.png" alt=""></div>
            <div class="name">
                <h3>赵大帅</h3>
                <p>北京 - 信息科技部</p>
            </div>
            <div class="layer">
                <dl>
                    <dd><a href="">退出</a></dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="g-side">
        <div class="nav">
            <ul>
                <li>
                    <a href="">
                        <div class="ico"><img src="image/img22_1.png" alt=""><img src="image/img22_1on.png" alt=""></div>
                        <div class="ico2"><img src="image/img42_1.png" alt=""></div>
                        <em>首页</em>
                    </a>
                </li>
                <li>
                    <a href="" class="on">
                        <div class="ico"><img src="image/img22_2.png" alt=""><img src="image/img22_2on.png" alt=""></div>
                        <div class="ico2"><img src="image/img42_2.png" alt=""></div>
                        <em>项目列表</em>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="ico"><img src="image/img22_3.png" alt=""><img src="image/img22_3on.png" alt=""></div>
                        <div class="ico2"><img src="image/img42_1.png" alt=""></div>
                        <em>企业列表</em>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="ico"><img src="image/img22_4.png" alt=""><img src="image/img22_4on.png" alt=""></div>
                        <div class="ico2"><img src="image/img42_1.png" alt=""></div>
                        <em>财报列表</em>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="ico"><img src="image/img22_10.png" alt=""><img src="image/img22_10on.png" alt=""></div>
                        <div class="ico2"><img src="image/img42_1.png" alt=""></div>
                        <em>阈值设置</em>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="ico"><img src="image/img22_12.png" alt=""><img src="image/img22_12on.png" alt=""></div>
                        <div class="ico2"><img src="image/img42_1.png" alt=""></div>
                        <em>用户管理</em>
                    </a>
                </li>
            </ul>
        </div>
        <a href="" class="btn"></a>
    </div>

    <div class="g-container" style="overflow: hidden">
        <!--g-container-->
        <div class="p-box">
            <div class="project-show-head">
                <h2>翌晨【2019】339号流动资金贷款集合资金信托计划</h2>
                <a href="" class="back">返回列表</a>
                <div class="btn">
                    <ul>
                        <li :class="{'on':pageName == '项目信息'}" @click="pageName='项目信息'">
                            <div class="ico"><img src="image/img22_5.png" alt=""><img src="image/img22_5on.png" alt=""></div>
                            <em>·项目信息</em>
                        </li>
                        <li :class="{'on':pageName == '逾期信息'}" @click="pageName='逾期信息'">
                            <div class="ico"><img src="image/img22_6.png" alt=""><img src="image/img22_6on.png" alt=""></div>
                            <em>·逾期信息</em>
                        </li>
                        <li :class="{'on':pageName == '企业舆情'}" @click="pageName='企业舆情'">
                            <div class="ico"><img src="image/img22_7.png" alt=""><img src="image/img22_7on.png" alt=""></div>
                            <em>·企业舆情</em>
                        </li>
                        <li :class="{'on':pageName == '增信措施'}" @click="pageName='增信措施'">
                            <div class="ico"><img src="image/img22_8.png" alt=""><img src="image/img22_8on.png" alt=""></div>
                            <em>·增信措施</em>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="project-show-box">
                <template v-if="pageName == '项目信息'">
                    <div class="project-info">
                        <ul>
                            <li>
                                <div class="name">合同交易对手：</div>
                                <div class="input select"><span>信达地产股份有限公司信达地产股份有限公司</span></div>
                            </li>
                            <li>
                                <div class="name">实质交易对手：</div>
                                <div class="input time"><span>神州高铁技术股份有限公司</span></div>
                            </li>
                            <li>
                                <div class="name">抵质押公司：</div>
                                <div class="input select"><span>中国XX集团有限公司</span></div>
                            </li>
                            <li>
                                <div class="name ">项目类型：</div>
                                <div class="input select"><span>证券投资</span></div>
                            </li>
                            <li>
                                <div class="name">成立时间：</div>
                                <div class="input time"><span>2017/01/01</span></div>
                            </li>
                            <li>
                                <div class="name">到期时间：</div>
                                <div class="input time"><span>2020/01/01</span></div>
                            </li>
                            <li>
                                <div class="name">业务部门：</div>
                                <div class="input"><span>北京业务三部</span></div>
                            </li>
                            <li>
                                <div class="name">存续规模：</div>
                                <div class="input"><span>32000万元</span></div>
                            </li>
                            <li class="li_01">
                                <div class="name">交易结构：</div>
                                <div class="input"><span>资金用于XX科技定增，实际控制人和中国XX集团有限公司差额补足并担保</span></div>
                            </li>
                        </ul>
                        <!--<div class="submit"><a href="">添加</a></div>-->
                    </div>
                </template>

                <template v-if="pageName == '逾期信息'">
                    <div class="yuqi-info">
                        <div class="tips" v-if="yuqi.tipsShow">
                            <p>累计逾期次数：13次</p>
                            <a href="javascript:;" class="close" @click="yuqi.tipsShow = false"></a>
                        </div>
                        <div class="list">
                            <div class="title">
                                <div class="col-1">合同名称</div>
                                <div class="col-2">计划还款日期</div>
                                <div class="col-2">计划还款总额</div>
                                <div class="col-2">实际还款总额</div>
                                <div class="col-2">完成状态</div>
                                <div class="col-2">逾期说明</div>
                            </div>
                            <ul>
                                <li v-for="item in yuqi.list">
                                    <div class="col-1">
                                        <a href="">{{item.name}}</a>
                                        <em v-if="item.tag" :class="item.tag.color">{{item.tag.text}}</em>
                                    </div>
                                    <div class="col-2">{{item.time}}</div>
                                    <div class="col-2">{{item.jhhkze}}</div>
                                    <div class="col-2">{{item.sjwkze}}</div>
                                    <div class="col-2" :class="item.wczt.color">{{item.wczt.text}}</div>
                                    <div class="col-2">{{item.yqsm}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </template>

                <template v-if="pageName == '企业舆情'">
                    <div class="yuqing-nav">
                        <div class="select"><span>{{yuqing.company.name}}</span>
                            <div class="select-layer">
                                <dl>
                                    <dd v-for="item in yuqing.company.list" @click="companyChange(item)">{{item.name}}</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="list">
                            <ul>
                                <li v-for="(item, index) in yuqing.list">
                                    <div class="num">{{index+1}}</div>
                                    <div class="name">{{item.name}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="yuqingBox">
                        <div class="yuqing-1">
                            <dl>
                                <dd>
                                    <div class="ico"><img src="image/img54_1.png" alt=""></div>
                                    <div>
                                        <div class="name">预警级别</div>
                                        <em>橙色预警</em>
                                    </div>
                                </dd>
                                <dd>
                                    <div class="ico"><img src="image/img54_2.png" alt=""></div>
                                    <div>
                                        <div class="name">预警条数</div>
                                        <em>13条</em>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <!---->
                        <div class="p-box2" v-for="(item, index) in yuqing.list">
                            <div class="p-title2">
                                <h2>{{item.name}}</h2>
                                <div class="num">{{item.number}}</div>
                            </div>
                            <template v-if="item.name == '风险概述'">
                                <div class="yuqing-2">
                                    <ul>
                                        <li v-for="_item in item.list" :class="_item.color">
                                            <div>{{_item.text}}</div>
                                        </li>
                                    </ul>
                                </div>
                            </template>
                            <template v-if="item.name == '新闻信息' || item.name == '司法风险' || item.name == '经营风险' || item.name == '经营信息'">
                                <div class="yuqing-3">
                                    <ul>
                                        <li v-for="_item in item.list"><a href=""><b v-if="_item.info">{{_item.info}}</b>{{_item.name}}</a><em>{{_item.time}}</em></li>
                                    </ul>
                                </div>
                            </template>
                            <template v-if="item.name == '财报信息'">
                                <div class="yuqing-4">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <th>编号</th>
                                            <th>财报时间</th>
                                            <th>财报类型</th>
                                            <th>来源</th>
                                            <th>创建/复核</th>
                                            <th>创建/复核时间</th>
                                            <th>操作</th>
                                        </tr>
                                        <tr v-for="(_item, _index) in item.list">
                                            <td>{{_index+1}}</td>
                                            <td>{{_item.time}}</td>
                                            <td>{{_item.type}}</td>
                                            <td>{{_item.source}}</td>
                                            <td>{{_item.author}}</td>
                                            <td>{{_item.time2}}</td>
                                            <td class="btn"><a href="">查看</a> | <a href="">导出</a></td>
                                        </tr>
                                    </table>
                                </div>
                            </template>
                            <template v-if="item.name == '工商信息'">
                                <div class="yuqing-5">
                                    <ul>
                                        <li>
                                            <div class="name">统一社会信用代码：</div>
                                            <div class="input"><span>{{item.list[0]}}</span></div>
                                        </li>
                                        <li>
                                            <div class="name">成立日期：</div>
                                            <div class="input time"><span>{{item.list[1]}}</span></div>
                                        </li>
                                        <li>
                                            <div class="name">名　　称：</div>
                                            <div class="input"><span>{{item.list[2]}}</span></div>
                                        </li>
                                        <li>
                                            <div class="name">类　　型：</div>
                                            <div class="input select"><span>{{item.list[3]}}</span></div>
                                        </li>
                                        <li>
                                            <div class="name">法定代表人：</div>
                                            <div class="input"><span>{{item.list[4]}}</span></div>
                                        </li>
                                        <li>
                                            <div class="name">注册资本：</div>
                                            <div class="input"><span>{{item.list[5]}}</span></div>
                                        </li>
                                        <li class="li_01">
                                            <div class="name">经营范围：</div>
                                            <div class="input"><span>{{item.list[6]}}</span></div>
                                        </li>
                                    </ul>
                                </div>
                            </template>
                            <template v-if="item.name == '企业发展'">
                                <div class="yuqing-4" style="padding-top: 0">
                                    <h2>· 核心团队</h2>
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <th width="70">序号</th>
                                            <th width="160" class="textLeft">姓名</th>
                                            <th width="160" class="textLeft">职位</th>
                                            <th class="textLeft">简介</th>
                                        </tr>
                                        <tr v-for="(_item, _index) in item.hxtd">
                                            <td>{{_index+1}}</td>
                                            <td class="textLeft">{{_item.name}}</td>
                                            <td class="textLeft">{{_item.title}}</td>
                                            <td class="textLeft">{{_item.info}}</td>
                                        </tr>
                                    </table>
                                    <h2>· 企业业务</h2>
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <th width="70">序号</th>
                                            <th width="160" class="textLeft">产品名称</th>
                                            <th width="160" class="textLeft">成立日期</th>
                                            <th class="textLeft">当前融资轮次</th>
                                        </tr>
                                        <tr v-for="(_item, _index) in item.qyyw">
                                            <td>{{_index+1}}</td>
                                            <td class="textLeft">{{_item.name}}</td>
                                            <td class="textLeft">{{_item.time}}</td>
                                            <td class="textLeft">{{_item.curr}}</td>
                                        </tr>
                                    </table>
                                    <h2>· 融资信息</h2>
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <th width="70">序号</th>
                                            <th width="160" class="textLeft">披露日期</th>
                                            <th width="160" class="textLeft">交易金额</th>
                                            <th class="textLeft">融资轮次</th>
                                        </tr>
                                        <tr v-for="(_item, _index) in item.rzxx">
                                            <td>{{_index+1}}</td>
                                            <td class="textLeft">{{_item.time}}</td>
                                            <td class="textLeft">{{_item.price}}</td>
                                            <td class="textLeft">{{_item.curr}}</td>
                                        </tr>
                                    </table>
                                    <h2>· 融资信息</h2>
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <th width="70">序号</th>
                                            <th width="160" class="textLeft">投资机构</th>
                                            <th width="160" class="textLeft">成立日期</th>
                                            <th class="textLeft">所属地</th>
                                        </tr>
                                        <tr v-for="(_item, _index) in item.rzxx2">
                                            <td>{{_index+1}}</td>
                                            <td class="textLeft">{{_item.name}}</td>
                                            <td class="textLeft">{{_item.time}}</td>
                                            <td class="textLeft">{{_item.address}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </template>
                            <template v-if="item.name == '知识产权'">
                                <div class="yuqing-4" style="padding-top: 0">
                                    <h2>· 商标信息</h2>
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <th width="70">序号</th>
                                            <th width="160" class="textLeft">申请日期</th>
                                            <th width="160" class="textLeft">商标名称</th>
                                            <th class="textLeft">注册号</th>
                                        </tr>
                                        <tr v-for="(_item, _index) in item.sbxx">
                                            <td>{{_index+1}}</td>
                                            <td class="textLeft">{{_item.time}}</td>
                                            <td class="textLeft">{{_item.name}}</td>
                                            <td class="textLeft">{{_item.number}}</td>
                                        </tr>
                                    </table>
                                    <h2>· 专利信息</h2>
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <th width="70">序号</th>
                                            <th width="160" class="textLeft">申请公布日</th>
                                            <th class="textLeft">专利名称</th>
                                        </tr>
                                        <tr v-for="(_item, _index) in item.zlxx">
                                            <td>{{_index+1}}</td>
                                            <td class="textLeft">{{_item.time}}</td>
                                            <td class="textLeft">{{_item.name}}</td>
                                        </tr>
                                    </table>
                                    <h2>· 软件著作权</h2>
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <th width="70">序号</th>
                                            <th width="160" class="textLeft">登记批准日期</th>
                                            <th class="textLeft">软件全称</th>
                                        </tr>
                                        <tr v-for="(_item, _index) in item.rjzzq">
                                            <td>{{_index+1}}</td>
                                            <td class="textLeft">{{_item.time}}</td>
                                            <td class="textLeft">{{_item.name}}</td>
                                        </tr>
                                    </table>
                                    <h2>· 作品著作权</h2>
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <th width="70">序号</th>
                                            <th width="325" class="textLeft">作品名称</th>
                                            <th class="textLeft">登记</th>
                                        </tr>
                                        <tr v-for="(_item, _index) in item.rjzzq2">
                                            <td>{{_index+1}}</td>
                                            <td class="textLeft">{{_item.name}}</td>
                                            <td class="textLeft">{{_item.dj}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </template>
                            <template v-if="item.name == '评级记录'">
                                <div class="yuqing-4">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <th width="70">序号</th>
                                            <th width="160" class="textLeft">投资机构</th>
                                            <th width="160" class="textLeft">成立日期</th>
                                            <th class="textLeft">所属地</th>
                                        </tr>
                                        <tr v-for="(_item, _index) in item.list">
                                            <td>{{_index+1}}</td>
                                            <td class="textLeft">{{_item.name}}</td>
                                            <td class="textLeft">{{_item.time}}</td>
                                            <td class="textLeft">{{_item.address}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </template>
                        </div>
                        <!---->
                    </div>
                </template>

                <template v-if="pageName == '增信措施'">
                    <div class="zxcs">
                        <div class="p-box2">
                            <div class="p-title2">
                                <h2>增信措施</h2>
                                <div class="num">7</div>
                            </div>
                            <div class="yuqing-4">
                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tr>
                                        <th width="115" class="textLeft">时间</th>
                                        <th width="100" class="textLeft">增信类型</th>
                                        <th class="textLeft">增信说明</th>
                                        <th width="100">调整级别</th>
                                        <th width="100">操作</th>
                                    </tr>
                                    <tr v-for="(item, index) in zxcs.list">
                                        <td class="textLeft">{{item.time}}</td>
                                        <td class="textLeft">{{item.type}}</td>
                                        <td class="textLeft">
                                            {{item.text}}
                                            <a href="" class="blue" v-if="item.file.length>0">查看附件>></a>
                                        </td>
                                        <td :class="item.level.color">{{item.level.text}}</td>
                                        <td class="btn"><a href="javascript:;" @click="zxcsUpdate(index)">修改</a> | <a href="javascript:;" @click="zxcsDel(index)">删除</a></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="add"><a href="javascript:;" @click="zxcs.form.show = true; zxcs.form.file=[]">添加</a></div>
                        </div>
                    </div>
                    <div class="zxcs-layer" :class="{'show':zxcs.form.show}">
                        <div class="container">
                            <div class="title">
                                <h2>增信措施</h2>
                                <a href="javascript:;" class="close" @click="zxcs.form.show = false"></a>
                            </div>
                            <div class="form">
                                <ul>
                                    <li>
                                        <div class="name">增信类型：</div><em class="tips">*</em>
                                        <div class="input select"><span>{{zxcs.form.type.name}}</span>
                                            <div class="select-layer">
                                                <dl>
                                                    <dd v-for="item in zxcs.form.type.list" @click="zxcs.form.type.name = item">{{item}}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="name">预警级别：</div><em class="tips">*</em>
                                        <div class="input select"><span>{{zxcs.form.level.name}}</span>
                                            <div class="select-layer">
                                                <dl>
                                                    <dd v-for="item in zxcs.form.level.list" @click="zxcs.form.level.name = item">{{item}}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="li_01">
                                        <div class="name">增信说明：</div><em class="tips">*</em>
                                        <div class="input"><textarea v-model="zxcs.form.text"></textarea></div>
                                    </li>
                                    <li class="li_01 file">
                                        <div class="name">附　　件</div><em class="tips">*</em>
                                        <div class="input">
                                            <em v-for="(item, index) in zxcs.form.file" @click="fileDel(index)">{{item}}，</em>
                                            <div class="btn"><input type="file" @change="fileUpload($event)" multiple="multiplt"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="submit">
                                <div class="btn-1" @click="zxcs.form.show = false">取消</div>
                                <div class="btn-2" @click="zxcsForm()">确认</div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>

        </div>
        <!--g-container-end-->
    </div>
</div>
<script type="text/javascript" src="script/js.js"></script>
<script type="text/javascript" src="script/echarts.min.js"></script>
<script type="text/javascript" src="script/charts.js"></script>

<script src="script/vue/vue.js"></script>
<script src="script/vue/vue-resource.min.js"></script>
<script>
    new Vue({
        //delimiters: ['[[', ']]'],
        el: '#app',
        data:{
            pageName:'项目信息',
            yuqi:{
                tipsShow: true,
                list:[
                    {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', tag:{text:'当前逾期', color:'red'}, time:'2019/10/10', jhhkze:'129957704.96', sjwkze:'129957704.96', wczt:{text:'未完成', color:'red'}, yqsm:'本金逾期'},
                    {name:'翌晨【2019】339号流动资金贷款集合资金信', time:'2019/10/10', jhhkze:'129957704.96', sjwkze:'129957704.96', wczt:{text:'已完成', color:'green'}, yqsm:'本金逾期'},
                    {name:'翌晨【2019】339号流动资金贷款集金信托计划', time:'2019/10/10', jhhkze:'129957704.96', sjwkze:'129957704.96', wczt:{text:'已完成', color:'green'}, yqsm:'本金逾期'},
                    {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', time:'2019/10/10', jhhkze:'129957704.96', sjwkze:'129957704.96', wczt:{text:'已完成', color:'green'}, yqsm:'本金逾期'},
                    {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', time:'2019/10/10', jhhkze:'129957704.96', sjwkze:'129957704.96', wczt:{text:'已完成', color:'green'}, yqsm:'本金逾期'},
                    {name:'翌晨【2019】339号流动资金贷款集合资金信托计划', time:'2019/10/10', jhhkze:'129957704.96', sjwkze:'129957704.96', wczt:{text:'已完成', color:'green'}, yqsm:'本金逾期'},
                ]
            },
            yuqing:{
                company:{
                    name:'中国XX集团...',
                    url:'data/yuqing.json',
                    list:[
                        {name:'中国XX集团...', url:'data/yuqing.json'},
                        {name:'中国XX集团2...', url:'data/yuqing2.json'}
                    ]
                },
                scroll: undefined,
                list:[]
            },
            zxcs:{
                form:{
                    show: false,
                    isAdd: true,
                    time:'',
                    type:{
                        name:'保证',
                        list:['保证', '抵押物', '质押物']
                    },
                    text:'',
                    level:{
                        name:'红色',
                        list:['红色', '橙色', '黄色']
                    },
                    file:[]
                },
                list:[
                    {time:'2020.05.31', id:'001', type:'保证', text:'资金用于XX科技定增，实际控制人和中国XX集团有限公司差额补足并担保', file:[], level:{text:'红色', color:'red'}},
                    {time:'2020.04.30', id:'002', type:'抵押物', text:'实际控制人XX和中国XX集团有限公司差额补足并担保 ', file:['1.jpg', '2.jpg'], level:{text:'橙色', color:'orange'}},
                    {time:'2020.03.31', id:'003', type:'质押物', text:'实际控制人和中国XX集团有限公司差额补足并担保', file:[], level:{text:'黄色', color:'yellow'}}
                ]
            }
        },
        watch:{
            pageName:function (newData, oldData) {
                if(newData === '企业舆情'){
                    this.getData();
                    setTimeout(()=>{
                        this.yuqing.scroll = new pageScroll()
                    }, 500)
                }
                Select()
            }
        },
        mounted:function () {},
        methods:{
            getData:function(){
                this.$http.get(this.yuqing.company.url).then((res)=>{
                    let data = res.data.data;
                    this.yuqing.list = data;
                }, function () {
                    console.log('请求失败处理')
                })
            },
            companyChange:function (item) {
                this.yuqing.company.name = item.name;
                this.yuqing.company.url = item.url;
                this.getData();
                this.yuqing.scroll.reset()
            },
            //---
            zxcsForm:function () {
                let form = this.zxcs.form;
                if (form.text === "") return;
                let date = new Date(),
                    year = date.getFullYear(),
                    month = date.getMonth() + 1,
                    day = date.getDate();
                if (month < 10) {
                    month = '0' + month
                }
                if (day < 10) {
                    day = '0' + day
                }
                let level = {text: form.level.name, color: ''};
                switch (level.text) {
                    case '红色':
                        level.color = "red";
                        break;
                    case '橙色':
                        level.color = "orange";
                        break;
                    case '黄色':
                        level.color = "yellow";
                        break;
                }
                if(form.isAdd === true){
                    this.zxcs.list.push({
                        time: year + '.' + month + '.' + day,
                        type: form.type.name,
                        text: form.text,
                        level: level,
                        file: form.file
                    })
                }else{
                    let _ = this.zxcs.list[form.isAdd];
                    _.type = form.type.name;
                    _.text = form.text;
                    _.level = level;
                    _.file = form.file
                }
                this.zxcsFormReset()
            },
            fileUpload:function(e){
                let that = this;
                let keys = Object.values(e.target.files);
                keys.forEach(function (item) {
                    that.zxcs.form.file.push(item.name)
                })
            },
            fileDel:function(i){
                this.zxcs.form.file.splice(i, 1)
            },
            //---
            zxcsUpdate:function(i){
                let _ = this.zxcs.list[i],
                    form = this.zxcs.form;
                form.isAdd = i;
                form.show = true;
                form.type.name = _.type;
                form.text = _.text;
                form.level.name = _.level.text;
                form.file = _.file;
            },
            zxcsDel:function(i){
                let url = 'url?id=' + this.zxcs.list[i].id;
                this.zxcs.list.splice(i, 1)
            },
            zxcsFormReset:function () {
                this.zxcs.form = {
                    show: false,
                    isAdd: true,
                    time:'',
                    type:{
                        name:'保证',
                        list:['保证', '抵押物', '质押物']
                    },
                    text:'',
                    level:{
                        name:'红色',
                        list:['红色', '橙色', '黄色']
                    },
                    file:''
                }
            }
        }
    })
</script>
<script>
    $(function () {
        heightFun();
        $(window).resize(function () {
            heightFun()
        });
        function heightFun() {
            $('#project-show-box').height($(window).height() - $('.g-head').height() - 60 - $('.project-show-head').height())
        }
    });

    function pageScroll() {
        let li = $('.yuqing-nav').find('li'),
            box = $('.yuqingBox'),
            isClick = false,
            top = [];
        li.eq(0).addClass('on');
        li.each(function (i) {
            top.push(box.find('.p-box2').eq(i).offset().top - box.offset().top - 20);
            $(this).click(function () {
                isClick = true;
                box.stop(true, true).animate({scrollTop: top[i]}, 300, function () {
                    isClick = false
                });
                change(i)
            })
        });
        box.scroll(function () {
            if(isClick) return;
            top.forEach(function (item, i) {
                if(box.scrollTop() >= item){
                    change(i)
                }
            })
        });
        function change(i) {
            li.removeClass('on');
            li.eq(i).addClass('on');
        }
        this.reset = function () {
            isClick = true;
            li.removeClass('on');
            li.eq(0).addClass('on');
            box.stop(true, true).animate({scrollTop: 0}, 300, function () {
                isClick = false
            })
        }
    }
</script>

</body>
</html>